@model SUNetwork.Models.MESSAGES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MESSAGES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MESSAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEND_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEND_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SENDER_USER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SENDER_USER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECEIVER_USER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECEIVER_USER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECEIVE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECEIVE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.READ_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.READ_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.READ_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.READ_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
